@media (max-width: 991px)
.section-wrap, .section-wrap-lg {
    padding: 80px 0;
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
    background-attachment: scroll !important;
    background-position: 50% 50% !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
}